/** These rules serve mainly as extensions (SASS context) sub definitions. */
/** Helper Builder - builds classes that can be added additional properties to modules and elements. */
/** Helper classes to add additional properties to modules and elements. */
/* line 36, ../scss/_cross-media-extends.scss */
.link--unstyled, .link--unstyled:hover, .link--unstyled:focus, .link--unstyled:visited, .link--unstyled:active { text-decoration: none; }

/* line 36, ../scss/_cross-media-extends.scss */
.link--unstyled, .link--unstyled:hover, .link--unstyled:focus, .link--unstyled:visited, .link--unstyled:active { font-family: inherit; font-weight: inherit; color: inherit; }

/** Helper Builder based on grunt-attractions */
@media (min-width: 60em) { /* line 283, ../scss/_helpers.scss */
  .max-w--600--desk { max-width: 600px; } }

@media (min-width: 60em) { /* line 283, ../scss/_helpers.scss */
  .max-w--800--desk { max-width: 800px; } }
