/**
 * Helper classes to add additional properties
 * to modules and elements.
 */


@include cross-media-extends()
{
	// Position
	@include define-extend(pr) { position: relative; }
	@include define-extend(pa) { position: absolute; }
	@include define-extend(ps) { position: static; }
	@include define-extend(pf) { position: fixed; }


	// Display
	@include define-extend(db) { display: block; }
	@include define-extend(dib) { display: inline-block; }
	@include define-extend(di) { display: inline; }
	@include define-extend(dt) { display: table; }
	@include define-extend(dtc) { display: table-cell; }
	@include define-extend(df) { display: flex; }
	@include define-extend(no-d) { display: none; }

		// 	- aliases
		@include define-extend(hide) { @include _(no-d); }
		@include define-extend(show) { @include _(db); }


	// Oveflow
	@include define-extend(ova) {overflow: auto;}
	@include define-extend(ovh) {overflow: hidden;}
	@include define-extend(ovs) {overflow: scroll;}


	// Text Transforms
	@include define-extend(ttu) { text-transform: uppercase; }
	@include define-extend(ttl) { text-transform: lowercase; }
	@include define-extend(no-tt) { text-transform: none; }


	// Text Decoration
	@include define-extend(tdu) { text-decoration: underline; }
	@include define-extend(no-td) { text-decoration: none; }


	// Visibility
	@include define-extend(vis-hid) { visibility: hidden; }
	@include define-extend(vis-vis) { visibility: visible; }
	@include define-extend(vis-clip) {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}


	// Background Images
	@include define-extend(bg-fill)
	{
		background-size: cover;
		background-position: center center;
	}
	@include define-extend(bg-lt) { background-position: left top; }
	@include define-extend(bg-lc) { background-position: left center; }
	@include define-extend(bg-lb) { background-position: left right; }
	@include define-extend(bg-ct) { background-position: center top; }
	@include define-extend(bg-cc) { background-position: center center; }
	@include define-extend(bg-cb) { background-position: center bottom; }
	@include define-extend(bg-rt) { background-position: right top; }
	@include define-extend(bg-rc) { background-position: right center; }
	@include define-extend(bg-rb) { background-position: right bottom; }



	// Font Helpers
	@for $i from 0 through 100
	{
		@include define-extend(fs--#{$i}) { @include font-size($i); }
	}

	@include define-extend(font--inherit)
	{
		font-family: inherit;
		font-weight: inherit;
		color: inherit;
	}

	@include define-extend(font--nowrap)
	{
		white-space: nowrap;
	}


	// Link Helpers
	@include define-extend(link--unstyled)
	{
		@include all-link-states()
		{
			@include _(font--inherit);
			@include _(no-td);
	 	}
	}


	// Browser-based (requires Modernizr)
	@include define-extend(hide--no-js)
	{
		html.no-js &
		{
			@include _(no-d);
		}
	}


	// List helper
	// @extenders
	@include define-extend(unstyled-list)
	{
		margin: 0;
		list-style: none;
		padding: 0;
	}

	@include define-extend(unstyled-lists)
	{
		ul, ol { @include _(unstyled-list); }
	}


	// For clearing floats like a boss h5bp.com/q
	// @extenders
	@include define-extend(clearfix) {
		*zoom: 1;
		.lt-ie9 & { overflow: hidden; }
		&:before,
		&:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both;
		}
	}

	// Alignments
	@include define-extend(fl) { float: left; }
	@include define-extend(fr) { float: right; }
	@include define-extend(no-f) { float: none; }

	@include define-extend(hl) { text-align: left; }
	@include define-extend(hr) { text-align: right; }
	@include define-extend(hc) { text-align: center; }
	@include define-extend(vt) { vertical-align: top; }
	@include define-extend(vm) { vertical-align: middle; }
	@include define-extend(vb) { vertical-align: bottom; }
	@include define-extend(fxs) { align-items: flex-start; }
	@include define-extend(fxc) { align-items: center; }
	@include define-extend(fxe) { align-items: flex-end; }

	@include define-extend(block-center)
	{
		display: block;
		margin: {left: auto; right: auto;};
	}

	@include define-extend(block-right)
	{
		display: block;
		margin: {left: auto; right: 0;};
	}

	@include define-extend(absolute-center)
	{
		position: absolute;
		left: 0;
		right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	@include define-extend(vertical-center)
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		// This fallback requires an internal wrapper div
		html.no-flexbox.no-flexboxlegacy &
		{
			display: table;
			width: 100%;

			& > *
			{
				display: table-cell;
				vertical-align: middle;
			}
		}
	}


	// Image Helper
	@include define-extend(block-img)
	{
		display: block;
		max-width: 100%;
	}


	// Common Effects
	@include define-extend(overlay)
	{
		content: "";
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}


	// Formatting
	@include define-extend(ellipsis)
	{
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

}



/**
 * Helper Builder based on grunt-attractions
 */

@each $selector in $attract{
	.#{$selector} {
		@include _($selector);
	}
}


