/**
 * These rules serve mainly as extensions (SASS context) sub definitions.
 */


// Typography
@mixin font-size($font_size: 16)
{
	$rem: ($font_size / 10);
	font-size: $font_size * 1px;
	font-size: #{$rem}rem;
}

@mixin all-link-states()
{
	&, &:hover, &:focus, &:visited, &:active
	{
		@content;
	}
}
