

// Breakpoints -----------------------------------------
// See http://breakpoint-sass.com/

$mobile: (max-width 480em/16);
$tablet: (min-width 481em/16) (max-width 1024em/16);
$desktop: (min-width 1025em/16);


$breakpoints: add-breakpoint(mob, $mobile);
$breakpoints: add-breakpoint(tab, $tablet);
$breakpoints: add-breakpoint(desk, $desktop);
